<app-generic-table 
  [columns]="columns()"
  [data]="items()"
  [emptyTemplate]="emptyTemplate"
  [showRowNumbers]="true"
  [showSortShowcase]="true"
  [rowNumberLabel]="'#'"
  [selectionModel]="selectionModel()"
  [maxDataCount]="maxDataCount()"

>
  <ng-template #emptyTemplate>
    <div class="custom-empty-state">
      <h3>📦 No items in your inventory</h3>
      <p>Start by adding some furniture or general items to your household inventory.</p>
    </div>
  </ng-template>
</app-generic-table>
