<div class="generic-table">
  @if (showSortShowcase() === true) {
    <section class="sort">
      <header>
        <title class="sort__title">Sort</title>

        <button class="sort__clear" (click)="clearSort()" title="Clear sort">
          <mat-icon>clear</mat-icon>
          <!-- TODO: Add Trash can component -->
        </button>
      </header>

      <div class="sort__controls">
        @for (column of sortableColumns(); track column.key) {
          <button
            class="sort__btn"
            [class.active]="isSortedBy(column.key.toString())"
            (click)="onSortChange(column.key.toString())"
            [title]="'Sort by ' + column.label"
          >
            {{ column.label }}

            <span class="sort__icon">
              <mat-icon>{{ getSortIcon(column.key.toString()) }}</mat-icon>
            </span>
          </button>
        }
      </div>
    </section>
  }

  <section class="table-container" (scroll)="onScroll($event)">
    <table class="table">
      <colgroup>
        @for (column of displayColumns(); track column.key) {
          <col [class]="column.columnClass" class="generic-table__col" />
        }
      </colgroup>
      <thead class="table__header">
        <tr class="table__header__row">
          @for (column of displayColumns(); track column.key) {
            <th class="table__header__cell" [class]="column.columnCellClass">
              @if (column.key === 'checkbox') {
                <mat-checkbox
                  [checked]="selectAllState().checked"
                  [indeterminate]="selectAllState().indeterminate"
                  [disabled]="selectAllState().disabled"
                  (change)="onSelectAll($event.checked)"
                  [attr.aria-label]="'Select all items'"
                />
              } @else {
                <label for="sort-{{ column.key }}">{{ column.label }}</label>

                @if (showSort() === true && column.sortable && column.key !== 'rowNumber') {
                  <button
                    class="sort__header"
                    id="sort-{{ column.key }}"
                    [class.active]="isSortedBy(column.key.toString())"
                    (click)="onSortChange(column.key.toString())"
                    [title]="'Sort by ' + column.label"
                  >
                    <mat-icon>{{ getSortIcon(column.key.toString()) }}</mat-icon>
                  </button>
                }
              }
            </th>
          }
        </tr>
      </thead>

      <tbody class="table__body">
        @for (item of displayData(); track $index) {
          <tr (click)="onRowClick(item)" class="table__row">
            @for (column of displayColumns(); track column.key) {
              <td class="table__cell" [class]="column.columnCellClass">
                @if (column.key === 'checkbox') {
                  <mat-checkbox
                    [checked]="isItemSelected(item)"
                    (change)="onCheckboxChange(item, $event.checked)"
                    [disabled]="!selectionModel()"
                    [attr.aria-label]="'Select item'"
                  />
                } @else {
                  {{ getDisplayValue(item, column.key) }}
                }
              </td>
            }
          </tr>
        }

        @if (data().length === 0) {
          <tr class="table__row--empty">
            <td [attr.colspan]="displayColumns().length" class="table__cell--empty">
              @if (emptyTemplate()) {
                <ng-container [ngTemplateOutlet]="emptyTemplate()"></ng-container>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  </section>
</div>
